.quote {
    width: 95%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.customButton {
    background-color: #9B870C;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    width: 122px;
}

.author {
    font-style: italic;
}

.customButton:hover {
        background-color: #D2B55B;
}

.customButton:focus {
    outline: none;
}

.quoteText{
    height: 150px;
}

@media (max-width: 600px) {
    .quoteText{
        height: 275px;
    }
  }

.twitterButton {
    border-radius: 50%;
    border-style: none;
    width: 50px;
    height: 50px;
}

.twitterButton:hover {
    background-color:#D2B55B;
}
.twitterButton:focus {
    outline: none
}
.twitterIcon:hover {
    color: white;
}

